:root, [data-bs-theme=light] {
  --bs-primary: #05668d;
  --bs-primary-rgb: 5,102,141;
  --bs-primary-text-emphasis: #022938;
  --bs-primary-bg-subtle: #CDE0E8;
  --bs-primary-border-subtle: #9BC2D1;
  --bs-secondary: #679436;
  --bs-secondary-rgb: 103,148,54;
  --bs-secondary-text-emphasis: #293B16;
  --bs-secondary-bg-subtle: #E1EAD7;
  --bs-secondary-border-subtle: #C2D4AF;
  --bs-success: #a5be00;
  --bs-success-rgb: 165,190,0;
  --bs-success-text-emphasis: #424C00;
  --bs-success-bg-subtle: #EDF2CC;
  --bs-success-border-subtle: #DBE599;
  --bs-info: #427aa1;
  --bs-info-rgb: 66,122,161;
  --bs-info-text-emphasis: #1A3140;
  --bs-info-bg-subtle: #D9E4EC;
  --bs-info-border-subtle: #B3CAD9;
  --bs-warning: #f3de2c;
  --bs-warning-rgb: 243,222,44;
  --bs-warning-text-emphasis: #615912;
  --bs-warning-bg-subtle: #FDF8D5;
  --bs-warning-border-subtle: #FAF2AB;
  --bs-danger: #a24936;
  --bs-danger-rgb: 162,73,54;
  --bs-danger-text-emphasis: #411D16;
  --bs-danger-bg-subtle: #ECDBD7;
  --bs-danger-border-subtle: #DAB6AF;
  --bs-light: #f5f5f5;
  --bs-light-rgb: 245,245,245;
  --bs-light-text-emphasis: #626262;
  --bs-light-bg-subtle: #FDFDFD;
  --bs-light-border-subtle: #FBFBFB;
  --bs-dark: #111d13;
  --bs-dark-rgb: 17,29,19;
  --bs-dark-text-emphasis: #070C08;
  --bs-dark-bg-subtle: #CFD2D0;
  --bs-dark-border-subtle: #A0A5A1;
  --bs-body-bg: #e0e1dd;
  --bs-body-bg-rgb: 224,225,221;
  --bs-body-font-family: Inter, sans-serif;
  --bs-body-font-weight: bold;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #05668d;
  --bs-btn-border-color: #05668d;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #045778;
  --bs-btn-hover-border-color: #045271;
  --bs-btn-focus-shadow-rgb: 218,232,238;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #045271;
  --bs-btn-active-border-color: #044D6A;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #05668d;
  --bs-btn-disabled-border-color: #05668d;
}

.btn-outline-primary {
  --bs-btn-color: #05668d;
  --bs-btn-border-color: #05668d;
  --bs-btn-focus-shadow-rgb: 5,102,141;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #05668d;
  --bs-btn-hover-border-color: #05668d;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #05668d;
  --bs-btn-active-border-color: #05668d;
  --bs-btn-disabled-color: #05668d;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #05668d;
}

.btn-secondary {
  --bs-btn-color: #000000;
  --bs-btn-bg: #679436;
  --bs-btn-border-color: #679436;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #7EA454;
  --bs-btn-hover-border-color: #769F4A;
  --bs-btn-focus-shadow-rgb: 15,22,8;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #85A95E;
  --bs-btn-active-border-color: #769F4A;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #679436;
  --bs-btn-disabled-border-color: #679436;
}

.btn-outline-secondary {
  --bs-btn-color: #679436;
  --bs-btn-border-color: #679436;
  --bs-btn-focus-shadow-rgb: 103,148,54;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #679436;
  --bs-btn-hover-border-color: #679436;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #679436;
  --bs-btn-active-border-color: #679436;
  --bs-btn-disabled-color: #679436;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #679436;
}

.btn-success {
  --bs-btn-color: #000000;
  --bs-btn-bg: #a5be00;
  --bs-btn-border-color: #a5be00;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #B3C826;
  --bs-btn-hover-border-color: #AEC519;
  --bs-btn-focus-shadow-rgb: 25,29,0;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #B7CB33;
  --bs-btn-active-border-color: #AEC519;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #a5be00;
  --bs-btn-disabled-border-color: #a5be00;
}

.btn-outline-success {
  --bs-btn-color: #a5be00;
  --bs-btn-border-color: #a5be00;
  --bs-btn-focus-shadow-rgb: 165,190,0;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #a5be00;
  --bs-btn-hover-border-color: #a5be00;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #a5be00;
  --bs-btn-active-border-color: #a5be00;
  --bs-btn-disabled-color: #a5be00;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #a5be00;
}

.btn-info {
  --bs-btn-color: #fff;
  --bs-btn-bg: #427aa1;
  --bs-btn-border-color: #427aa1;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #386889;
  --bs-btn-hover-border-color: #356281;
  --bs-btn-focus-shadow-rgb: 227,235,241;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #356281;
  --bs-btn-active-border-color: #325C79;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #427aa1;
  --bs-btn-disabled-border-color: #427aa1;
}

.btn-outline-info {
  --bs-btn-color: #427aa1;
  --bs-btn-border-color: #427aa1;
  --bs-btn-focus-shadow-rgb: 66,122,161;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #427aa1;
  --bs-btn-hover-border-color: #427aa1;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #427aa1;
  --bs-btn-active-border-color: #427aa1;
  --bs-btn-disabled-color: #427aa1;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #427aa1;
}

.btn-warning {
  --bs-btn-color: #000000;
  --bs-btn-bg: #f3de2c;
  --bs-btn-border-color: #f3de2c;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #F5E34C;
  --bs-btn-hover-border-color: #F4E141;
  --bs-btn-focus-shadow-rgb: 36,33,7;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #F5E556;
  --bs-btn-active-border-color: #F4E141;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #f3de2c;
  --bs-btn-disabled-border-color: #f3de2c;
}

.btn-outline-warning {
  --bs-btn-color: #f3de2c;
  --bs-btn-border-color: #f3de2c;
  --bs-btn-focus-shadow-rgb: 243,222,44;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #f3de2c;
  --bs-btn-hover-border-color: #f3de2c;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #f3de2c;
  --bs-btn-active-border-color: #f3de2c;
  --bs-btn-disabled-color: #f3de2c;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #f3de2c;
}

.btn-danger {
  --bs-btn-color: #fff;
  --bs-btn-bg: #a24936;
  --bs-btn-border-color: #a24936;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #8A3E2E;
  --bs-btn-hover-border-color: #823A2B;
  --bs-btn-focus-shadow-rgb: 241,228,225;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #823A2B;
  --bs-btn-active-border-color: #7A3729;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #a24936;
  --bs-btn-disabled-border-color: #a24936;
}

.btn-outline-danger {
  --bs-btn-color: #a24936;
  --bs-btn-border-color: #a24936;
  --bs-btn-focus-shadow-rgb: 162,73,54;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #a24936;
  --bs-btn-hover-border-color: #a24936;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #a24936;
  --bs-btn-active-border-color: #a24936;
  --bs-btn-disabled-color: #a24936;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #a24936;
}

.btn-light {
  --bs-btn-color: #000000;
  --bs-btn-bg: #f5f5f5;
  --bs-btn-border-color: #f5f5f5;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #D0D0D0;
  --bs-btn-hover-border-color: #C4C4C4;
  --bs-btn-focus-shadow-rgb: 37,37,37;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #C4C4C4;
  --bs-btn-active-border-color: #B8B8B8;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #f5f5f5;
  --bs-btn-disabled-border-color: #f5f5f5;
}

.btn-outline-light {
  --bs-btn-color: #f5f5f5;
  --bs-btn-border-color: #f5f5f5;
  --bs-btn-focus-shadow-rgb: 245,245,245;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #f5f5f5;
  --bs-btn-hover-border-color: #f5f5f5;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #f5f5f5;
  --bs-btn-active-border-color: #f5f5f5;
  --bs-btn-disabled-color: #f5f5f5;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #f5f5f5;
}

.btn-dark {
  --bs-btn-color: #fff;
  --bs-btn-bg: #111d13;
  --bs-btn-border-color: #111d13;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #0E1910;
  --bs-btn-hover-border-color: #0E170F;
  --bs-btn-focus-shadow-rgb: 219,221,220;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0E170F;
  --bs-btn-active-border-color: #0D160E;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #111d13;
  --bs-btn-disabled-border-color: #111d13;
}

.btn-outline-dark {
  --bs-btn-color: #111d13;
  --bs-btn-border-color: #111d13;
  --bs-btn-focus-shadow-rgb: 17,29,19;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #111d13;
  --bs-btn-hover-border-color: #111d13;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #111d13;
  --bs-btn-active-border-color: #111d13;
  --bs-btn-disabled-color: #111d13;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #111d13;
}

